<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crud.dao.WelfareTypeApplicationMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.crud.bean.WelfareTypeApplication">
    <id column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="wt_id" jdbcType="INTEGER" property="wtId" />
    <result column="application_date" jdbcType="TIMESTAMP" property="applicationDate" />
    <result column="application_status" jdbcType="INTEGER" property="applicationStatus" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    app_id, emp_id, wt_id, application_date, application_status, comment
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.crud.bean.WelfareTypeApplicationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_welapplication
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_welapplication
    where app_id = #{appId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_welapplication
    where app_id = #{appId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.atguigu.crud.bean.WelfareTypeApplicationExample">
    delete from tbl_welapplication
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.crud.bean.WelfareTypeApplication">
    insert into tbl_welapplication (app_id, emp_id, wt_id, 
      application_date, application_status, comment
      )
    values (#{appId,jdbcType=INTEGER}, #{empId,jdbcType=INTEGER}, #{wtId,jdbcType=INTEGER}, 
      #{applicationDate,jdbcType=TIMESTAMP}, #{applicationStatus,jdbcType=BIT}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.crud.bean.WelfareTypeApplication">
    insert into tbl_welapplication
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        app_id,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="wtId != null">
        wt_id,
      </if>
      <if test="applicationDate != null">
        application_date,
      </if>
      <if test="applicationStatus != null">
        application_status,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="wtId != null">
        #{wtId,jdbcType=INTEGER},
      </if>
      <if test="applicationDate != null">
        #{applicationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationStatus != null">
        #{applicationStatus,jdbcType=BIT},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.atguigu.crud.bean.WelfareTypeApplicationExample" resultType="java.lang.Long">
    select count(*) from tbl_welapplication
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_welapplication
    <set>
      <if test="row.appId != null">
        app_id = #{row.appId,jdbcType=INTEGER},
      </if>
      <if test="row.empId != null">
        emp_id = #{row.empId,jdbcType=INTEGER},
      </if>
      <if test="row.wtId != null">
        wt_id = #{row.wtId,jdbcType=INTEGER},
      </if>
      <if test="row.applicationDate != null">
        application_date = #{row.applicationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.applicationStatus != null">
        application_status = #{row.applicationStatus,jdbcType=BIT},
      </if>
      <if test="row.comment != null">
        comment = #{row.comment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_welapplication
    set app_id = #{row.appId,jdbcType=INTEGER},
      emp_id = #{row.empId,jdbcType=INTEGER},
      wt_id = #{row.wtId,jdbcType=INTEGER},
      application_date = #{row.applicationDate,jdbcType=TIMESTAMP},
      application_status = #{row.applicationStatus,jdbcType=BIT},
      comment = #{row.comment,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.crud.bean.WelfareTypeApplication">
    update tbl_welapplication
    <set>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="wtId != null">
        wt_id = #{wtId,jdbcType=INTEGER},
      </if>
      <if test="applicationDate != null">
        application_date = #{applicationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationStatus != null">
        application_status = #{applicationStatus,jdbcType=BIT},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.crud.bean.WelfareTypeApplication">
    update tbl_welapplication
    set emp_id = #{empId,jdbcType=INTEGER},
      wt_id = #{wtId,jdbcType=INTEGER},
      application_date = #{applicationDate,jdbcType=TIMESTAMP},
      application_status = #{applicationStatus,jdbcType=BIT},
      comment = #{comment,jdbcType=VARCHAR}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
</mapper>