<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crud.dao.WelfareTypeMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.crud.bean.WelfareType">
    <id column="welfare_type_id" jdbcType="INTEGER" property="welfareTypeId" />
    <result column="welfare_type_name" jdbcType="VARCHAR" property="welfareTypeName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    welfare_type_id, welfare_type_name
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.crud.bean.WelfareTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_welfaretype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_welfaretype
    where welfare_type_id = #{welfareTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_welfaretype
    where welfare_type_id = #{welfareTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.atguigu.crud.bean.WelfareTypeExample">
    delete from tbl_welfaretype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.crud.bean.WelfareType">
    insert into tbl_welfaretype (welfare_type_id, welfare_type_name)
    values (#{welfareTypeId,jdbcType=INTEGER}, #{welfareTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.crud.bean.WelfareType">
    insert into tbl_welfaretype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="welfareTypeId != null">
        welfare_type_id,
      </if>
      <if test="welfareTypeName != null">
        welfare_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="welfareTypeId != null">
        #{welfareTypeId,jdbcType=INTEGER},
      </if>
      <if test="welfareTypeName != null">
        #{welfareTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.atguigu.crud.bean.WelfareTypeExample" resultType="java.lang.Long">
    select count(*) from tbl_welfaretype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_welfaretype
    <set>
      <if test="row.welfareTypeId != null">
        welfare_type_id = #{row.welfareTypeId,jdbcType=INTEGER},
      </if>
      <if test="row.welfareTypeName != null">
        welfare_type_name = #{row.welfareTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_welfaretype
    set welfare_type_id = #{row.welfareTypeId,jdbcType=INTEGER},
      welfare_type_name = #{row.welfareTypeName,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.crud.bean.WelfareType">
    update tbl_welfaretype
    <set>
      <if test="welfareTypeName != null">
        welfare_type_name = #{welfareTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where welfare_type_id = #{welfareTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.crud.bean.WelfareType">
    update tbl_welfaretype
    set welfare_type_name = #{welfareTypeName,jdbcType=VARCHAR}
    where welfare_type_id = #{welfareTypeId,jdbcType=INTEGER}
  </update>
</mapper>